[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-taglist"]
	path = .vim/bundle/vim-taglist
	url = https://github.com/chrismetcalf/vim-taglist.git
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/vim-fuzzyfinder"]
	path = .vim/bundle/vim-fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule ".vim/bundle/vim-synastic"]
	path = .vim/bundle/vim-synastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-tabular"]
	path = .vim/bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-supertab"]
	path = .vim/bundle/vim-supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-tlib"]
	path = .vim/bundle/vim-tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-tasklist"]
	path = .vim/bundle/vim-tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule ".vim/bundle/vim-grep"]
	path = .vim/bundle/vim-grep
	url = git://github.com/vim-scripts/grep.vim.git
[submodule ".vim/bundle/vim-vcscommand"]
	path = .vim/bundle/vim-vcscommand
	url = git://github.com/vim-scripts/vcscommand.vim.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/vim-session"]
	path = .vim/bundle/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule ".vim/bundle/vim-signify"]
	path = .vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/vim-tcomment"]
	path = .vim/bundle/vim-tcomment
	url = https://github.com/vim-scripts/tComment.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-emmet"]
	path = .vim/bundle/vim-emmet
	url = git@github.com:mlinuxgada/vim-emmet.git
[submodule ".vim/bundle/vim-python-mode"]
	path = .vim/bundle/vim-python-mode
	url = git@github.com:mlinuxgada/python-mode.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-dirdiff"]
	path = .vim/bundle/vim-dirdiff
	url = git@github.com:vim-scripts/DirDiff.vim.git
[submodule ".vim/bundle/vim-node"]
	path = .vim/bundle/vim-node
	url = git@github.com:moll/vim-node.git
[submodule ".vim/bundle/vim-typescript"]
	path = .vim/bundle/vim-typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
